footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li: a(href="#") Lorem ipsum dolor


        div

            ul

                li: a(href="#") Ad minim veniam

