footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li: a(href="#") Lorem ipsum dolor
                li: a(href="#") Sit amet consectetur
                li: a(href="#") Adipiscing elit sed
                li: a(href="#") Do eiusmod tempor
                li: a(href="#") Incididunt ut labore
                li: a(href="#") Et dolore magna
                li: a(href="#") Aliqua ut enim

        div

            ul

                li: a(href="#") Ad minim veniam
                li: a(href="#") Quis nostrud
                li: a(href="#") Ullamco laboris nisi
                li: a(href="#") Ut aliquip ex ea
                li: a(href="#") Commodo consequat
                li: a(href="#") Aute irure dolor
                li: a(href="#") In reprehenderit in
