extends ../root

block body

    body(id=bodyId class=bodyClass)

        block header

            +header-1("/#front", "header-1-logo", "Header", [
                {
                    href: "https://github.com/tylerauerbeck",
                    name: "GitHub",
                    image: "/assets/images/_sprites/symbols.svg#github-icon"
                },
                {
                    href: "https://twitter.com/tylerauerbeck",
                    title: "Follow Me On Twitter",
                    image: "/assets/images/_sprites/symbols.svg#footer-2-twitter"
                },
                {
                    href: "https://dev.to/tylerauerbeck",
                    name: "Resume",
                    image: "/assets/images/_sprites/symbols.svg#github-icon"
                }
            ])

        block main

        block footer

            include ../../components/footers/2/_

        //- end-of-body script insertion
        block inject

        //- compatibility
        noscript This application require JavaScript, please enable it.