extends ../root

block body

    body(id=bodyId class=bodyClass)

        block header

            +header-1("/#front", "header-1-logo", "Header", [
                {
                    href: "https://github.com/tylerauerbeck",
                    image: "/assets/images/_sprites/symbols.svg#github-icon",
                    title: "Check Out My GitHub",
                },
                {
                    href: "https://twitter.com/tylerauerbeck",
                    title: "Follow Me On Twitter",
                    image: "/assets/images/_sprites/symbols.svg#footer-2-twitter",
                },
                {
                    href: "https://dev.to/tylerauerbeck",
                    image: "/assets/images/_sprites/symbols.svg#resume-1",
                    title: "Resume",
                },
                {   
                    href: "https://linkedin.com/tylerauerbeck",
                    image: "/assets/iamges/_sprites/symbols.svg#footer-2-linkedin",
                    title: "Connect On LinkedIn",
                }
            ])

        block main

        block footer

            include ../../components/footers/2/_

        //- end-of-body script insertion
        block inject

        //- compatibility
        noscript This application require JavaScript, please enable it.