extends ../root

block body

    body(id=bodyId class=bodyClass)

        block header

            +header-1("/#front", "header-1-logo", "Header", [
                {
                    href: "https://github.com/tylerauerbeck",
                    name: "GitHub",
                },
                {
                    href: "https://twitter.com/tylerauerbeck",
                    name: "Twitter",
                    title: "Follow Me On Twitter",
                },
                {
                    href: "https://dev.to/tylerauerbeck",
                    name: "Resume"
                }
            ])

        block main

        block footer

            include ../../components/footers/2/_

        //- end-of-body script insertion
        block inject

        //- compatibility
        noscript This application require JavaScript, please enable it.