extends ../root

block body

    body(id=bodyId class=bodyClass)

        block header

            +header-1("/#front", "header-1-logo", "Header", [
                {
                    a(href="#")

                        svg(role="img" title="Follow us on Twitter")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-twitter")
                },
                {
                    href: "/#section-2",
                    name: "Twitter"
                },
                {
                    href: "/#section-3",
                    name: "Resume"
                }
            ])

        block main

        block footer

            include ../../components/footers/2/_

        //- end-of-body script insertion
        block inject

        //- compatibility
        noscript This application require JavaScript, please enable it.
