section(class="canvas front" id="front")

    div(class="content")

        h2 auerbeck.dev

        div

            p Less musings, More meanderings

            div

                a(href="#section-1") Most Popular
                a(href="#section-2") Most Recent
                a(href="#section-3") Archives

    +nav-1({ target: "section-1", direction: "next" })